.App{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C8C8C8;
}
.wrapper{
  width: 25%;
  height: 100vh;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.input-wrapper{
  flex: 1;
  /* padding: 0px 10px; */
  display: flex;
  justify-content: center;
  /* align-items: center; */

}
.input-wrapper input{
  padding: 10px;
  text-align: end;
  font-size: 24px;
  width: 100%;
  color:#C08C8C;
  border: none;
  outline: none;
  cursor: ;
}
.results-wrapper{
  text-align: end;
  flex: 2;
  padding: 0px 10px;
  box-sizing: border-box;

}
.digits-wrapper{
  flex: 7;
  background-color: #ebe8e8;
  border-radius: 35px 35px 0px 0px;
}